
body{
    background-color: #D0E9E2;
    margin: 0;
    padding: 0;
}


#navbarSupportedContent,
.dropdown-item, 
#collasible-nav-dropdown,
#dropdown-rooms {
    background-color:#212529 ;
    color: #F0F7F5 !important;
    font-family: 'Vollkorn', serif;
    font-size: 17.5px;
    
   
}


#nav_menu{
    background-color:#212529 ;
    color: #F0F7F5 !important;
    font-family: 'Vollkorn', serif;
    font-size: 17.5px;

}

#nav_links{
    color: #F0F7F5;
}

.colors_letters,
.dropdown-menu,
#basic-nav-dropdown{
    color: #F0F7F5 !important;
    background-color: #212529 !important;
}

.dropdown-item::-ms-expand{
    color: black !important;
}

#contenido_web1{
    background-color: salmon;
    width: 100%;
    height: 950px;
    
}

#contenido_web2{
    background-color: sandybrown;
    width: 100%;
    height: 800px;
    
}

#contenido_web3{
    background-color: seagreen;
    width: 100%;
    height: 800px;
    
}